{% include 'header.html.j2' %}
{% from "_macros.html" import render_field_with_errors, render_field, render_field_with_label %}
<h1>Login</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form-horizontal">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, class='form-control', placeholder='Email') }}
  {{ render_field_with_errors(login_user_form.password, class='form-control', placeholder='Password') }}
    <div class="form-group">
        <label class="col-sm-2" for="remember">{{ login_user_form.remember.label }}</label>
        <div class="col-sm-2">{{ login_user_form.remember|safe }}</div>
        {{ render_field(login_user_form.next) }}
        <div class="col-sm-2 pull-right">
            {{ login_user_form.submit(class='form-control') }}
        </div>
    </div>
</form>

{% include 'footer.html.j2' %}