{% include 'header.html.j2' %}
<div class="row">
    <h3>{{ path }}</h3>
</div>

<div class="row">
    <h3>Directories</h3>
{% if current_user.has_role('Admin') %}
    <p><a href="{{ url_for('admin_directory_add') }}">Add directory</a></p>
{% endif %}
    <table class="table table-condensed table-hover" id="table_directories">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        {% if current_user.has_role('Admin') %}
            <td></td>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for d in directories %}
        <tr>
            <td><a href="{{ url_for('browse_path', name=d.name) }}"><span class="glyphicon glyphicon-folder-close"></span> &nbsp; {{ d.name }}</a></td>
            <td>{{ d.description }}</td>
            {% if current_user.has_role('Admin') %}
            <td><a href="{{ url_for('admin_show_directory_edit', name=d.name) }}">Edit</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<style>
        .tablesorter-icon {
            position: relative !important
        }
    </style>
<script type="text/javascript">
    $(document).ready(function()
    {
        $.tablesorter.themes.bootstrap.table = 'table table-hover table-condensed';
        $.tablesorter.themes.bootstrap.header = '';
        $("#table_directories").tablesorter({
            theme : "bootstrap",
            widgets : [ "uitheme" ], // , "filter", "zebra" ],
            headerTemplate : '{icon} {content}',
            sortList: [[0,0]],
        });
    }
);
</script>
{% include 'footer.html.j2' %}