{% include 'header.html.j2' %}
<div class="row">
<h3>User</h3>
    {{ user.email }}

    {% if user.has_role('Admin') %}
        (Admin)
    {% endif %}

{% if audit_entries %}
</div>
<div class="row">
<h3>Audit log</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th>Time</th>
        <th>Message</th>
        <th>IP</th>
    </tr>
    </thead>
    <tbody>
{% for entry in audit_entries %}
    <tr>
    <td>{{ entry.timestamp }}</td>
    <td>{{ entry.message }}</td>
    <td>{{ entry.get_ip() }}</td>
    </tr>


{% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

{% include 'footer.html.j2' %}